* {
    box-sizing: border-box;

    
}
body{
    margin: 0;
    padding: 0;
}
/*-------- navbar style ---------*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.brand-title{
    font-size: 1.5rem;
    margin: 1rem 2rem;
    
}
.navbar-links ul {
    margin-right: 100px;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
    margin-right: 30px;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover {
    background-color: #555;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 2px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
}
@media(max-width:786px){
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
        margin-right: 0;
        
    }
    .navbar-links li{
        text-align: center;
        margin-right: 0;
    }
    .navbar-links li a{
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
/* -------main style--------- */
section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px ;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img {
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;    
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button {
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover {
    background-color: #a52a2a;
    color: #fff;
}
.content-section .social {
    margin: 40px 40px;
}
.content-section .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: #3d3d3d;
}
@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px ;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
}
